body {
  position: relative;
  background: #f8f8f8;
}

svg {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

rect {
  fill: #fff;
}

.axis path,
.axis line {
  fill: none;
  stroke: #eee;
}

#filename{
	color: red;
}

#file{
	display: inline-block;
}
#submit-form{
	display: block;
}

#activity-lbl, #label-input{
	display: none;
}

.commands-container{
	text-align: center;
	display: none;
	margin-top: 50px;
}

#overview{
	display: block;
}

#upload{
	text-align: center;
}

#upload-btn{
	display: inline-block;
}

rect, g {
	overflow: hidden;
}

.container{
	text-align: center;
	margin: 0 auto;
}

.legend{
	width: 15px;
	height: 15px;
	display: inline-block;
}

.legend:hover{
	cursor: pointer;
	opacity: 0.8;
}

.legend p {
	margin-top: 15px;
	display: inline-block;
	z-index: -1;
}

.blue{
	background: #2980b9;
}

.red{
	background: #e74c3c;
}
.green{
	background: #2ecc71;
}

.label-box{
	position: absolute;
	width: 300px;
	top: 100px;
	left: 50%;
	margin-left: -150px;
	text-align: center;
	background: #eee;
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 5px;
	display: none;
}

.label-box input{
	padding: 10px;
	border: none;
	border-radius: 5px;	
}
/*#visualisation{
	padding: 20px;
	border: 1px solid #ccc;
}*/