<html>
<head>
	<title>selfBACK data visualization</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="static/main.css">
</head>
<body>

	<div class='container' id="visualisation">
		<h1 id="title" >selfBACK data visualisation</h1>
		<select name="label" id="label-input">
			<option color="#ccc" value="">Not specified</option>
    		<option color="#3498db" value="Slow walk">Slow Walking</option>
    		<option color="#2ecc71" value="Fast walk">Fast Walking</option>
    		<option color="#e74c3c" value="Running">Running</option>
    		<option color="#f39c12" value="Rest">Resting</option>
  		</select>
		<form id="upload" action="" method=post enctype=multipart/form-data>
      		<input id="file" type=file name=file>
         	<input type=submit value=Upload>
    	</form>
		<p id="filename">data.csv</p>
	</div>
	<div class = "container">
		<div class = 'legend blue'>
		<p>X</p>
		</div>
		<div class = 'legend red'>
		<p>Y</p>
		</div>
		<div class = 'legend green'>
		<p>Z</p>
		</div>
	</div>
	<div class="label-box">
		<h3>Please enter an activity label for this dataset</h3>
		<input type="text" id="label" placeholder="Acivity Label"></input>
		<input id="label-submit" type="submit"></input>
	</div>
	<button id="reset">Reset</button>
	<button id="import">Import</button>
	<button id="step-back">Step back</button>
	<button id="export">Export</button>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
	<script type="text/javascript" src='../static/app.js'></script>
	<script type="text/javascript" src='../static/app2.js'></script>
</body>
</html>